<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>About Feedbacker</h2>
            <p>The aim of feedbacker is to provide a tool which helps facilitate an open and transparent culture.  Feedbacker
            itself is something of a combination of survey monkey and a workflow system.<br />
            Feedbacker supports the following features:</p>
          <ul>
            <li>Configurable feedback/review cycles</li>
            <li>Transparent sharing of feedback with recipients</li>
            <li>Submission of ad-hoc feedback for a recipient</li>
            <li>Email notifications</li>
            <li>Consolidated views and reports of feedback for users</li>
          </ul>
        </div>
    </div>
</div>
