<div class="container-fluid" data-ng-controller="NominationCtrl as nominate">
	<div class="row">
		<div class="col-sm-12">
			<h2>Request Feedback</h2>
			<span class="lead">Nominate colleagues to provide you feedback as part of a review cycle</span>
		</div>
	</div>
	<div data-ng-if="nominate.error" class="row top-buffer">
		<div class="col-md-12">
			<div class="alert alert-danger" role="alert">{{nominate.error}}</div>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-3">
			<span>Search for colleagues:</span>
		</div>
		<div class="col-sm-4">
			<input class="form-control"
                   data-ng-model="nominate.nominee"
                   uib-typeahead="nominee as nominee.display for nominee in nominate.nomineeCandidates | filter:{display:$viewValue} | limitTo:8"
                   placeholder="Name or Email"
									 typeahead-show-hint="true">
		</div>
		<div class="col-sm-6">
		</div>
	</div>
	<div class="row top-buffer" data-ng-hide="nominate.cycles.length==1">
		<div class="col-sm-3">
			<span>Select feedback cycle:</span>
		</div>
		<div class="col-sm-4">
            <select class="form-control"
                    data-ng-options="cycle as cycle.label for cycle in nominate.cycles"
                    data-ng-model="nominate.selectedCycle">
            </select>
		</div>
		<div class="col-sm-6"></div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-3">
			<p>
				<small>Feedback is most constructive when there are specific questions asked of the feedback provider. We recommend you
					personalise the message e.g. <em>Hi Bob, I'd really value your feedback on the role I played on project X - I'm keen
					to understand whether I turned around timely high quality work and whether my behaviors created a strong team culture
					to drive the outcome on this project.
					Your feedback is important so I can learn and grow.</em></small></p>
		</div>
		<div class="col-md-4">
			<textarea class="form-control" placeholder="Optional personal message. This will be added to the email notification sent to your nominee and visible when they submit their feedback" rows="8" data-ng-model="nominate.message" ></textarea>
		</div>
	</div>
	<div data-ng-if="nominate.selectedCycle">
		<div class="row top-buffer">
			<div class="col-md-6">
				<p class="lead">Feedback cycle questions for {{nominate.selectedCycle.label}}</p>
				<p>These are the questions to which your colleague will be ask to respond</p></p>
			</div>
		</div>
		<div class="row top-buffer" data-ng-repeat="question in nominate.selectedCycle.questions">
			<div class="col-sm-1">
				<span>Q{{$index +1}}</span>
				<span uib-tooltip="{{question.helpText}}" tooltip-placement="right" data-ng-show="question.helpText" class="fa fa-question-circle-o"></span>
			</div>
			<div class="col-md-4">
				<span>{{question.text}}</span>
			</div>
			<div class="col-md-4">
				<div data-ng-if="question.format== 'RADIO'">
					<div class="btn-group" role="group" aria-label="Answer options">
						<button type="button" class="btn btn-default"
										data-ng-repeat="option in question.responseOptions"
										for="{{option}}"
										data-ng-model="question.response"
										uib-btn-radio="'{{option}}'">{{option}}</button>
					</div>
				</div>
				<div data-ng-if="question.format == 'SELECT'">
					<select class="form-control" data-ng-model="question.response">
						<option data-ng-repeat="option in question.responseOptions">{{option}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-4">
			<p class="lead">Nominate <strong data-ng-show="nominate.nominee.display" class="strong">{{nominate.nominee.display}}</strong><strong data-ng-hide="nominate.nominee.display" class="strong">{{nominate.nominee}}</strong><strong data-ng-hide="nominate.nominee">nobody</strong> to provide feedback for yourself as part of {{nominate.selectedCycle.label}}?</p>
		</div>
		<div class="col-md-2">
			<a data-ng-show="nominate.nominee.email" class="btn btn-primary" data-ng-click="nominate.addNomination(nominate.nominee.email, nominate.selectedCycle.id, nominate.message)">Send Feedback Request</a>
			<a data-ng-hide="nominate.nominee.email" class="btn btn-primary" data-ng-click="nominate.addNomination(nominate.nominee, nominate.selectedCycle.id, nominate.message)">Send Feedback Request</a>
		</div>
		<div class="col-sm-6">

		</div>
	</div>
	<hr />
	<div class="row top-buffer">
		<div class="col-sm-12">
			<div data-ng-hide="nominate.nominations.length > 0">
				<p class="lead">No colleagues currently nominated to provide feedback.</p>
			</div>
            <div data-ng-repeat="cycle in nominate.cycles" data-ng-show="nominate.nominations.length > 0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption class="lead">Nominations for review cycle <strong>{{cycle.label}}</strong></caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Colleague</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Last Updated</th>
                                <th>Message</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="nominee in nominate.nominations | reviewCycle: cycle.id">
                                <td>{{$index + 1}}</td>
                                <td>{{nominee.to.name}}</td>
                                <td>{{nominee.to.role}}</td>
                                <td>{{nominee.status}}</td>
                                <td>
                                    <span data-ng-show="nominee.lastUpdated">{{nominee.lastUpdated | date : 'medium'}}</span>
                                    <span data-ng-hide="nominee.lastUpdated">--</span>
                                </td>
                                <td>{{nominee.nominationMessage}}</td>
                                <td>
                                    <a data-ng-show="nominee.status == 'New'" class="btn btn-info" data-ng-click="nominate.cancelNomination(nominee.id)">Remove</a>
                                    <a data-ng-show="nominee.status=='Submitted' && nominee.id" href="#/detailView?id={{nominee.id}}">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
	        </div>
		</div>
	</div>
</div>
