<div class="container-fluid" data-ng-controller="NominationCtrl as nominate">
	<div class="row">
		<div class="col-sm-12">
			<h2>Nominate Peers to Provide you Feedback</h2>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-2">
			<span class="lead">Search for colleagues</span>
		</div>
		<div class="col-sm-3">
			<input class="form-control" ng-model="nominate.nominee" uib-typeahead="nominee.email as nominee.display for nominee in nominate.nomineeCandidates | filter:$viewValue | limitTo:8" placeholder="Name or Email">
			<!--<input class="form-control" ng-model="nominate.nominee" uib-typeahead="nominee for nominee in nominate.nomineeCandidates | filter:$viewValue | limitTo:8" typeahead-template-url="components/nominate/nomineeTemplate.html" placeholder="Name or Email">-->
		</div>
		<div class="col-sm-7">
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-12">
			<div data-ng-hide="nominate.nominations.length > 0">
				<p class="lead">No colleagues currently nominated to provide feedback.</p>
			</div>
			<div class="table-responsive" data-ng-show="nominate.nominations.length > 0">
	          	<table class="table table-hover">
	            	<caption class="lead">Colleagues nominated to provide you feedback.</caption>
		            <thead>
		              	<tr>
			                <th>#</th>
			                <th>Colleague</th>
			                <th>Role</th>
			                <th>Status</th>
			                <th>Updated</th>
			                <th></th>
		              	</tr>
		            </thead>
	            	<tbody>
		              	<tr data-ng-repeat="nominee in nominate.nominations">
			                <td>{{$index + 1}}</td>
			                <td>{{nominee.name}}</td>
			                <td>{{nominee.role}}</td>
			                <td>{{nominee.status}}</td>
			                <td>{{nominee.lastUpdated}}</td>
			                <td>
			                  	<a data-ng-if="nominee.status == 'Pending'" class-"btn btn-default" data-ng-click="nominate.remove(nominee)">Remove</a>
			                  	<a data-ng-if="nominee.status=='Submitted' && nominee.feedbackId" class-"btn btn-default" href="#/viewDetail/id={{nominee.feedbackId}}">View</a>
			                </td>
	              		</tr>
	            	</tbody>
	          	</table>
	        </div>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-12">
			<p>Click <a href="#/list">here</a> to go back.</p>
		</div>
	</div>

	</div>
</div>
