<div class="container-fluid" data-ng-controller="NominationCtrl as nominate">
	<div class="row">
		<div class="col-sm-12">
			<h2>Request Feedback</h2>
			<span class="lead">Nominate colleagues to provide you feedback as part of a review cycle</span>
		</div>
	</div>
	<div data-ng-if="nominate.error" class="row top-buffer">
		<div class="col-md-12">
			<div class="alert alert-danger" role="alert">{{nominate.error}}</div>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-2">
			<span">Search for colleagues:</span>
		</div>
		<div class="col-sm-4">
			<input class="form-control" data-ng-model="nominate.nominee" uib-typeahead="nominee.email as nominee.display for nominee in nominate.nomineeCandidates | filter:$viewValue | limitTo:8" placeholder="Name or Email">
		</div>
		<div class="col-sm-6">
		</div>
	</div>
	<div class="row top-buffer" data-ng-hide="nominate.cycles.length==1">
		<div class="col-sm-2">
			<span>Select feedback cycle:</span>
		</div>
		<div class="col-sm-4">
            <select class="form-control"
                    data-ng-options="cycle as cycle.label for cycle in nominate.cycles"
                    data-ng-model="nominate.selectedCycle">
            </select>
		</div>
		<div class="col-sm-6"></div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<textarea class="form-control" placeholder="Optional personal message. This will be added to the email notification sent to your nominee and visible when they submit their feedback" rows="3" data-ng-model="nominate.message" ></textarea>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-4">
			<p class="lead">Nominate <strong data-ng-show="nominate.nominee" class="strong">{{nominate.nominee}}</strong><strong data-ng-hide="nominate.nominee">nobody</strong> to provide feedback for yourself as part of {{nominate.selectedCycle.label}}?</p>
		</div>
		<div class="col-md-2">
			<a class="btn btn-primary" data-ng-click="nominate.addNomination(nominate.nominee, nominate.selectedCycle.id, nominate.message)">Send Feedback Request</a>
		</div>
		<div class="col-sm-6">

		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-12">
			<div data-ng-hide="nominate.nominations.length > 0">
				<p class="lead">No colleagues currently nominated to provide feedback.</p>
			</div>
            <div data-ng-repeat="cycle in nominate.cycles" data-ng-show="nominate.nominations.length > 0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption>Nominations for review cycle <strong>{{cycle.label}}</strong></caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Colleague</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Last Updated</th>
                                <th>Message</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="nominee in nominate.nominations | reviewCycle: cycle.id">
                                <td>{{$index + 1}}</td>
                                <td>{{nominee.to.name}}</td>
                                <td>{{nominee.to.role}}</td>
                                <td>{{nominee.status}}</td>
                                <td>
                                    <span data-ng-show="nominee.lastUpdated">{{nominee.lastUpdated | date : 'medium'}}</span>
                                    <span data-ng-hide="nominee.lastUpdated">--</span>
                                </td>
                                <td>{{nominee.nominationMessage}}</td>
                                <td>
                                    <a data-ng-show="nominee.status == 'New'" class="btn btn-info" data-ng-click="nominate.cancelNomination(nominee.id)">Remove</a>
                                    <a data-ng-show="nominee.status=='Submitted' && nominee.id" href="#/detailView?id={{nominee.id}}">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
	        </div>
		</div>
	</div>
</div>
