<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Provide Feedback</h2>
    </div>
  </div>
  <div data-ng-controller="ProvideCtrl as provide">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Provide ad-hoc feedback for a colleague</p>
      </div>
    </div> <!-- end row -->
    <div data-ng-if="provide.error" class="row top-buffer">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">{{provide.error}}</div>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-2">
        <span>Search for colleagues:</span>
      </div>
      <div class="col-sm-4">
        <input class="form-control"
               data-ng-model="provide.feedbackRecipient"
               uib-typeahead="recipient as recipient.display for recipient in provide.recipientList | filter:{display:$viewValue} | limitTo:8"
               placeholder="Name or email of colleague"
               typeahead-show-hint="true">
      </div>
      <div class="col-sm-6">
      </div>
    </div> <!-- end row -->
    <div class="row top-buffer">
      <div class="col-sm-2">
        <span>Publish to recipient:</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="Publish feedback to recipient">
          <button class="btn btn-primary"
                  for="true"
                  data-ng-model="provide.publishToRecipient"
                  uib-btn-radio="true">Yes</button>
          <button class="btn btn-primary"
                  for="false"
                  data-ng-model="provide.publishToRecipient"
                  uib-btn-radio="false">No</button>
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div> <!-- end row -->
    <div class="row top-buffer">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <textarea class="form-control" placeholder="Enter feedback here.  Please be both clear and constructive." rows="3" data-ng-model="provide.message" ></textarea>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-md-4">
        <p class="lead">
          Provide feedback for
          <strong data-ng-show="provide.feedbackRecipient" class="strong">{{provide.feedbackRecipient.display}}</strong>
          <strong data-ng-hide="provide.feedbackRecipient">nobody</strong>
          .  Feedback will be published to
          <span data-ng-show="provide.feedbackRecipient">{{provide.feedbackRecipient.managerEmail}}</span>
          <span data-ng-hide="provide.feedbackRecipient">nobody</span>
          and
          <strong data-ng-show="provide.publishToRecipient">will</strong>
          <span data-ng-hide="provide.publishToRecipient">will <strong>not</strong></span>
          be sent to
          <span data-ng-show="provide.feedbackRecipient" class="strong">{{provide.feedbackRecipient.display}}</span>
          <span data-ng-hide="provide.feedbackRecipient">anybody</span>.
        </p>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary" data-ng-click="provide.submitAdHocFeedback(provide.feedbackRecipient.email, provide.message, provide.publishToRecipient)">Submit Feedback</a>
      </div>
      <div class="col-sm-6">
      </div>
    </div> <!-- end row -->
    <div class="row" data-ng-if="provide.submittedAdHocFeedback && provide.submittedAdHocFeedback.length > 0">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <caption class="lead">Feedback you have provided</caption>
            <thead>
            <tr>
              <th>#</th>
              <th>Colleague</th>
              <th>Role</th>
              <th>Submitted</th>
              <th>Message</th>
              <th>Published to Recipient</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="feedback in provide.submittedAdHocFeedback">
              <td>{{$index + 1}}</td>
              <td>{{feedback.toName}}</td>
              <td>{{feedback.toRole}}</td>
              <td>{{feedback.created | date: 'medium'}}</td>
              <td>{{feedback.message}}</td>
              <td data-ng-if="feedback.publish">Yes</td>
              <td data-ng-if="!feedback.publish">No</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end controller -->
</div>
