# Ignore Play! working directory #
bin/
/db
.eclipse
.idea
/lib/
/logs/
/modules
/node_modules
/project/target
/project/project/target
/public/api/
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
npm-debug.log
conf/generated.keystore
feedbacker.tar
/conf/application.local.test.conf