<div class="container-fluid" data-ng-controller="EditCtrl as edit">
  <div class="row">
    <div class="col-md-12">
      <h2>Edit Feedback</h2>
    </div>
  </div>
  <div data-ng-if="edit.error" class="row top-buffer">
    <div class="col-md-12">
      <p class="lead">{{edit.error}}</p>
    </div>
  </div>
  <div data-ng-if="!edit.error">
    <div class="row top-buffer">
      <div class="col-md-12">
        <p class="lead">Feedback for <strong>{{edit.feedbackForName}}</strong> from <strong>{{edit.feedbackFromName}}</strong>.  Feedback will be visible by <em>{{edit.managerName}}</em></p>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <p>Make feedback visible to {{edit.feedbackForName}}?</p>
      </div>
      <div class="col-md-2">
        <div class="btn-group" role="group" aria-label="Answer options">
          <button class="btn btn-default" 
              for="shareFeedback"
              data-ng-model="edit.shareFeedback" 
              uib-btn-radio="false">No</button>
          <button class="btn btn-default" 
              for="shareFeedback"
              data-ng-model="edit.shareFeedback" 
              uib-btn-radio="true">Yes</button>
        </div>      
      </div>
    </div>
    <div class="row top-buffer" data-ng-repeat="question in edit.questions">
    	<div class="col-md-1">
    		<span>Q{{$index +1}}</span>
    	</div>
    	<div class="col-md-4">
    		<span>{{question.text}}</span>
    	</div>
    	<div class="col-md-2">
    		<div class="btn-group" role="group" aria-label="Answer options">
    			<button class="btn btn-default" 
    					data-ng-repeat="option in question.responseOptions" 
    					for="{{option}}" 
    					data-ng-model="question.response" 
    					uib-btn-radio="'{{option}}'">{{option}}</button>
    		</div>
    	</div>
    	<div class="col-md-4">
    		<textarea class="form-control" rows="3" data-ng-model="question.comments" ></textarea>
    	</div>
    </div>
  </div>
  <div class="row top-buffer">
  	<div class="col-md-1">
		<button class="btn btn-primary" data-ng-click="edit.save()">Save</button>  		
  	</div>
  	<div class="col-md-1">
		<button class="btn btn-default" data-ng-click="edit.cancel()">Cancel</button>  		
  	</div>
  	<div class="col-md-10"></div>
  </div>
</div>