<div class="container-fluid" data-ng-controller="EditCtrl as edit">
  <div class="row">
    <div class="col-md-12">
      <h2>Edit Feedback</h2>
    </div>
  </div>
  <div data-ng-if="edit.message" class="row top-buffer">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">{{edit.message}}</div>
    </div>
  </div>
  <div data-ng-if="edit.error" class="row top-buffer">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">{{edit.error}}</div>
    </div>
  </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <p class="lead">Feedback for <strong>{{edit.feedback.fromName}}</strong> from <strong>{{edit.feedback.toName}}</strong>.  When <strong>published</strong>, Feedback will be visible by <em>{{edit.feedback.bossEmail}}</em> <data-ng-show if="edit.feedback.shareFeedback">and <em>{{edit.feedback.fromName}}</em> </data-ng-show>once submitted.</p>
        </div>
    </div>
    <div class="row top-buffer" data-ng-show="edit.feedback.message">
        <div class="col-md-12">
            <blockquote>
                <p>
                    {{edit.feedback.message}}
                </p>
            </blockquote>
        </div>
    </div>
    <div class="row top-buffer" data-ng-show="edit.feedback.cycleLabel">
        <div class="col-md-12">
            <p>Feedback will be editable by <em>{{edit.feedback.toName}}</em> until the conclusion of <strong>{{edit.feedback.cycleLabel}}</strong> on <strong>{{edit.feedback.cycleEndDate | date: 'medium' }}</strong>.</p>
        </div>
    </div>
  <div class="row top-buffer" data-ng-repeat="question in edit.feedback.questions">
      <div class="col-sm-1">
          <span>Q{{$index +1}}</span>
          <span uib-tooltip="{{question.helpText}}" tooltip-placement="right" data-ng-show="question.helpText" class="fa fa-question-circle-o"></span>
      </div>
      <div class="col-md-4">
          <span>{{question.text}}</span>
      </div>
      <div class="col-md-2">
          <div data-ng-if="question.format== 'RADIO'">
              <div class="btn-group" role="group" aria-label="Answer options">
                  <button class="btn btn-default"
                          data-ng-repeat="option in question.responseOptions"
                          for="{{option}}"
                          data-ng-model="question.response"
                          uib-btn-radio="'{{option}}'">{{option}}</button>
              </div>
          </div>
          <div data-ng-if="question.format == 'SELECT'">
              <select class="form-control" data-ng-model="question.response">
                  <option data-ng-repeat="option in question.responseOptions">{{option}}</option>
              </select>
          </div>
      </div>
      <div class="col-md-4">
          <textarea class="form-control" rows="3" data-ng-model="question.comments" ></textarea>
      </div>
  </div>
  <div class="row top-buffer">
    <div class="col-md-2">
      <button class="btn btn-primary" alt="This will make the feedback visible but you can still change it before the cut off date." data-ng-click="edit.save(edit.feedback, true)">Save and publish</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-info" data-ng-click="edit.save(edit.feedback, false)">Save for later</button>
    </div>
  	<div class="col-md-1">
      <a class="btn btn-default" href="#/worklist">Cancel</a>
  	</div>
  	<div class="col-md-10"></div>
  </div>
</div>