<div class="container-fluid" data-ng-controller="EditCtrl as edit">
  <div class="row">
    <div class="col-md-12">
      <h2>Edit Feedback</h2>
    </div>
  </div>
  <div class="row" data-ng-repeat="question in edit.questions">
  	<div class="col-md-1">
  		<span>Q{{$index +1}}</span>
  	</div>
  	<div class="col-md-4">
  		<span>{{question.text}}</span>
  	</div>
  	<div class="col-md-2">
  		<div class="btn-group btn-group-sm" role="group" aria-label="Answer options">
  			<label class="btn btn-default" 
  					data-ng-repeat="option in question.responseOptions" 
  					for="{{option}}" 
  					data-ng-model="question.response" 
  					uib-btn-radio="'{{option}}'">{{option}}</label>
  		</div>
  	</div>
  	<div class="col-md-5">
  		<input type="textarea" data-ng-model="question.comments" />
  	</div>
  </div>
</div>