<div class="container-fluid" data-ng-controller="EditCtrl as edit">
  <div class="row">
    <div class="col-md-12">
      <h2>View Feedback</h2>
    </div>
  </div>
  <div class="row top-buffer">
	<div class="col-md-12">
	  <p class="lead">Feedback for <strong>{{edit.feedback.fromName}}</strong> from <strong>{{edit.feedback.toName}}</strong>.  Feedback is be visible by <em>{{edit.feedback.bossEmail}}</em></p>
	</div>
  </div>
	<div class="row top-buffer" data-ng-show="edit.feedback.cycleLabel">
		<div class="col-md-12">
			<p>Feedback will be editable by <em>{{edit.feedback.toName}}</em> until the conclusion of <strong>{{edit.feedback.cycleLabel}}</strong> on <strong>{{edit.feedback.cycleEndDate | date: 'medium' }}</strong>.</p>
		</div>
	</div>
  <div class="row top-buffer" data-ng-repeat="question in edit.feedback.questions">
	<div class="col-md-1">
		<span>Q{{$index +1}}</span>
	</div>
	<div class="col-md-4">
		<span>{{question.text}}</span>
	</div>
	<div class="col-md-2">
		<div class="btn-group" data-ng-if="question.format == 'RADIO'" role="group" aria-label="Answer options">
			<span data-ng-repeat="option in question.responseOptions" class="btn" data-ng-class="option==question.response ? 'btn-primary' : ['disabled', 'btn-default']">{{option}}</span>
		</div>
		<div data-ng-if="question.format == 'SELECT'">
			<p>{{question.response}}</p>
		</div>
	</div>
	<div class="col-md-5">
		<p>{{question.comments}}</p>
	</div>
  </div>
  <div class="row top-buffer">
  	<div class="col-md-1">
		<a class="btn btn-default" href="#/list">Cancel</a>
  	</div>
  	<div class="col-md-11"></div>
  </div>
</div>