<div class="container-fluid" data-ng-controller="ResetCtrl as reset">
    <div class="row">
        <div class="col-sm-12">
            <h2>Reset Password</h2>
        </div>
    </div>
    <div class="row top-buffer" data-ng-show="reset.error">
        <div class="col-sm-4">
            <div class="alert alert-danger" role="alert">{{reset.error}}</div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-12">
            <form class="form-group" data-ng-submit="reset.resetPassword(reset.newPassword, reset.passwordCheck)">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="password" class="form-control" data-ng-model="reset.newPassword" placeholder="New Password" required minlength="8" />
                    </div>
                </div>
                <div class="row top-buffer-small">
                    <div class="col-sm-4">
                        <input type="password" class="form-control" data-ng-model="reset.passwordCheck" placeholder="Re-enter password" required minlength="8" />
                    </div>
                </div>
                <div class="row top-buffer-small">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </div>
                    <div class="col-sm-2">
                        <a href="#/resetPasswordEmail">Send new password reset email</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-2">
            <a href="#/landing" class="btn btn-default">Cancel</a>
        </div>
    </div>
</div>