<div class="starter-template">
  <h1>Feedback Summary</h1>
  <h2>Action Feedback</h2>

  <p class="lead">You can track the feedback you need to action...<br>
<!--     <ul>
      <li>View all the shared feedback.</li>
      <li>Set and track goals</li>
      <li>See a consolided list of feedback you have been requested to provide</li>
      <li>Edit and amend previously submitted feedback</li>
    </ul> -->
  </p>
  <h2>Your Feedback History</h2>
  <p>See the feedback provided to you.</p>
</div>
