<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Feedback Summary</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Action Feedback</h3>

    <p class="lead">You can track the feedback you need to action...<br>
  <!--     <ul>
        <li>View all the shared feedback.</li>
        <li>Set and track goals</li>
        <li>See a consolided list of feedback you have been requested to provide</li>
        <li>Edit and amend previously submitted feedback</li>
      </ul> -->
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Your Feedback History</h3>
      <p class="lead">See the feedback provided to you.</p>
    </div>
  </div>
</div>
