<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="/images/feedbacker-favicon.png" alt="Feedbacker Logo" style="width:235px;height:235px;"/>
      </div>
      <div class="col-md-5">
        <h1>Feedbacker!</h1>
        <h2>Because feedback is a gift</h2>
        <p>Track the feedback you have been asked to provide...</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#/about" role="button">Learn more &raquo;</a></p> -->
      </div>
      <div class="col-md-4" data-ng-controller="RegistrationCtrl as registration">
        <form class="form-group" data-ng-submit="registration.register()">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control" placeholder="Name" data-ng-model="registration.name" required>
            </div>
          </div>
          <div class="row top-buffer-small">
            <div class="col-sm-12">
              <input type="email" class="form-control" placeholder="Your Email" data-ng-model="registration.email" required>
            </div>
          </div>
          <div class="row top-buffer-small">
            <div class="col-sm-12">
              <input type="text" class="form-control" placeholder="Your Role" data-ng-model="registration.role" required>
            </div>
          </div>
          <div class="row top-buffer-small">
            <div class="col-sm-12">
              <input type="email" class="form-control" placeholder="Boss's Email" data-ng-model="registration.managerEmail" required>
            </div>
          </div>
          <div class="row top-buffer-small">
            <div class="col-sm-12">
              <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required minlength="8">
            </div>
          </div>
          <div class="row top-buffer-small">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <div>
              <a href="#/resetPasswordEmail"">Forgot Password</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="starter-template">
    <h1>Welcome to Feedbacker</h1>
    <p class="lead">You can track the feedback you have been asked to provide and see you own feedback.<br>Here are some features we are hoping to include:<br>
      <ul>
        <li>View all the shared feedback.</li>
        <li>Set and track goals</li>
        <li>See a consolided list of feedback you have been requested to provide</li>
        <li>Edit and amend previously submitted feedback</li>
      </ul>
    </p>
  </div>

</div><!-- /.container -->


