<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Feedbacker!</h1>
    <h2>Becuase feedback is a gift</h2>
    <div class="row">
      <div class="col-md-8">
        <p>Track the feedback you have been asked to provide...</p>
        <p><a class="btn btn-primary btn-lg" href="#/about" role="button">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="starter-template">
    <h1>Welcome to Feedbacker</h1>
    <p class="lead">You can track the feedback you have been asked to provide and see you own feedback.<br>Here are some features we are hoping to include:<br>
      <ul>
        <li>View all the shared feedback.</li>
        <li>Set and track goals</li>
        <li>See a consolided list of feedback you have been requested to provide</li>
        <li>Edit and amend previously submitted feedback</li>
      </ul>
    </p>
  </div>

</div><!-- /.container -->


