<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" data-ng-controller="MenuCtrl as menu">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <li data-ng-class="{ active: menu.isActive('/landing')}"><a class="navbar-brand" href="#/">Feedbacker</a></li>
        <li data-ng-class="{ active: menu.isActive('/list')}"><a class="navbar-brand" data-ng-if="menu.isLoggedIn()" href="#/list">Feedback Summary</a></li>
        <li data-ng-class="{ active: menu.isActive('/nominate')}"><a data-ng-if="menu.isLoggedIn()" class="navbar-brand" href="#/nominate">Nominations</a></li>
        <li data-ng-class="{ active: menu.isActive('/reports')}"><a data-ng-if="menu.isLoggedInLeader()" class="navbar-brand" href="#/reports">Reports</a></li>
      </ul>



    </div>
    <div data-ng-if="!menu.isLoggedIn()" id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" data-ng-submit="menu.login()">
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-control" data-ng-model="menu.username" required>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" data-ng-model="menu.password" minlength="8" required>
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
    <div class="navbar-collapse collapse" data-ng-if="menu.isLoggedIn()">
      <div class="navbar-form navbar-right">
        <button class="btn btn-secondary" data-ng-click="menu.logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
<div><!-- 
  <uib-alert close="menu.resetError()">{{menu.error}}</uib-alert>
</div> -->