<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Administration</h2>
    </div>
  </div>
  <div data-ng-controller="AdminCtrl as admin">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Stay tuned folks.  This exciting section is coming soon :)</p>
        <p>Features will include:</p>
        <ul>
          <li>Set users as admin</li>
          <li>Create new review cycles</li>
          <li>Update question text, response options and help text</li>
          <li>Disable existing review cycles</li>
        </ul>
      </div>
    </div> <!-- end row -->
  </div> <!-- end controller -->
</div>
