<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Administration</h2>
    </div>
  </div>
  <div data-ng-controller="AdminCtrl as admin">
    <div data-ng-if="nominate.error" class="row top-buffer">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">{{admin.error}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Manage users</p>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-2">
        <span>Search for users:</span>
      </div>
      <div class="col-sm-4">
        <input class="form-control"
               data-ng-model="admin.user"
               uib-typeahead="user as user.display for user in admin.registeredUsers | filter:{display:$viewValue} | limitTo:8"
               placeholder="Name or Email"
               typeahead-show-hint="true">
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-md-12">
        <p class="lead">Manage review cycles</p>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-md-2"><button class="btn btn-primary" data-ng-click="admin.createNewCycle()">Create New</button></div>
    </div>
    <div class="row top-buffer">
      <div class="col-md-2">
        <span>Edit existing review cycle</span>
      </div>
      <div class="col-md-6">
        <select class="form-control"
                data-ng-options="cycle as cycle.label for cycle in admin.reviewCycles"
                data-ng-model="admin.selectedCycle">
        </select>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row top-buffer" data-ng-show="admin.selectedCycle">
      <div class="col-md-2"><button class="btn btn-default" data-ng-click="admin.clearSelectedCycle()">Clear</button></div>
    </div>
    <div class="row top-buffer" data-ng-show="admin.selectedCycle">
      <div class="col-md-4"><p>{{admin.selectedCycle}}</p></div>
    </div>
    <div class="row top-buffer">
      <div class="col-md-12">
        <p class="lead">Stay tuned folks.  This exciting section is coming soon :)</p>
        <p>Features will include:</p>
        <ul>
          <li>Set users as admin</li>
          <li>Disable registered users</li>
          <li>Create new review cycles</li>
          <li>Update question text, response options and help text</li>
          <li>Disable existing review cycles</li>
          <li>Create a 360 degree review</li>
        </ul>
      </div>
    </div> <!-- end row -->
  </div> <!-- end controller -->
</div>
